
 <div>
  <h1>My Products</h1>
  <!--<button type="button" [routerLink]="/crud/create/">Create new product</button>-->
  <table>
      <thead>
          <tr>
              <th>#</th>
              <th>Product Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let lv of livs">
              <td>{{lv.id}}</td>
              <td>{{lv.author}}</td>

             <!---- <td>
                  <button type="button" [routerLink]="['/crud/update/', product.id]">Update</button>
                  <button type="button" (click)="crudService.delete(product.id)">Remove</button>
              </td>-->
          </tr>
      </tbody>
  </table>

  <div class="card-body">
    <h5 class="card-title">Visualiser les livres  </h5>
    {{livre.author}}

    <button class="btn btn-success" >
    <a routerLink="/livre"> Acceder </a>
    </button>
    </div>
</div>
